@model DetailedTransactionsReport

@{
    var amountSumary = new AmountSumaryViewModel()
            {
                Income = Model.DepositBalances,
                Spending = Model.WithdrawBalances,
                Total = Model.Total
            };
}

<partial name="_NavigateByMonths" model="@Model.InitialDate"/>

<partial name="_AmountSumary" model="@amountSumary"/>

@if(Model.GroupTransactions.Count() == 0)
{
    <h5>There is not transactions to show.</h5>
}else{
    <table class="table">
        <tbody>
            @foreach (var groupTransactions in Model.GroupTransactions)
            {
                <tr style="background: lightblue; font-size: 26px;">
                    <td colspan="3">@groupTransactions.TransactionDate.Day
                        <span class="badge bg-secondary">
                            @groupTransactions.TransactionDate.ToString("ddd")
                        </span>
                    </td>
                    <td class="activo">@groupTransactions.DepositBalances.ToString("N")</td>
                    <td class="pasivo">@groupTransactions.WithdrawBalances.ToString("N")</td>
                </tr>
                @foreach (var transaction in groupTransactions.Transactions)
                {
                    <tr style="vertical-align: middle">
                        <td>
                            <a asp-controller="Transactions" asp-action="Edit"
                            asp-route-id="@transaction.Id" asp-route-Returnurl="@ViewBag.Returnurl">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>@transaction.Category</td>
                        <td>@transaction.Account</td>
                        <td class="activo">@(
                            transaction.OperationTypeId == OperationType.Income ? 
                            transaction.Amount.ToString("N") : null)</td>
                        <td class="pasivo">@(transaction.OperationTypeId == OperationType.Spending ? 
                            transaction.Amount.ToString("N") : null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}