@model IEnumerable<AccountIndexViewModel>

@{
    ViewData["Title"] = "Accounts";

    string FormatBalance(decimal balance)
    {
        return Math.Abs(balance).ToString("N");
    }

    string GetBalanceClass(decimal balance)
    {
        return balance >= 0 ? "activo" : "pasivo";
    }
}

<h1>Accounts</h1>

<a asp-action="Create" class="btn btn-primary mb-2">Create new</a>

<div class="contenedor-totales mb-3">
    <div>
        <div>
            <strong>Actives</strong>
        </div>
        <div class="activo">
            @FormatBalance(Model.Where(x => x.Balance > 0).Sum(x => x.Balance))
        </div>
    </div>
    <div>
        <div>
            <strong>Pasives</strong>
        </div>
        <div class="pasivo">
           @FormatBalance(Model.Where(x => x.Balance < 0).Sum(x => x.Balance))
        </div>
    </div>
    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div class="@GetBalanceClass(Model.Sum(x => x.Balance))">
            @FormatBalance(@Model.Sum(x => x.Balance))
        </div>
    </div>
</div>

<div class="accordion acordeon-cuentas">
    @foreach (var accountType in Model)
    {
        <div>
            <h2 class="accordion-header" id="cabeceraUno">
                @{
                    var id = accountType.AccountType.Replace(" ", "");
                    var dataBSTarget = "#" + id;
                    var accountTypeClass = GetBalanceClass(accountType.Balance);
                }
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="@dataBSTarget">
                    <span class="me-3">
                        <span><strong>@accountType.AccountType</strong></span>
                        <span class="@accountTypeClass">@FormatBalance(accountType.Balance)</span>
                    </span>
                </button>
            </h2>
            <div id="@id" class="accordion-collapse collapse show">
                <div>
                    <ul class="list-group">
                        @foreach (var account in accountType.Accounts)
                        {
                            var accountClass = GetBalanceClass(account.Balance);
                            <li class="list-group-item">
                                <span>
                                    <strong>@account.Name</strong>
                                    <a asp-action="Edit" asp-route-id="@account.Id" class="btn btn-primary">
                                        <i class="bi-pencil-fill"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@account.Id" class="btn btn-danger">
                                        <i class="bi-trash-fill"></i>
                                    </a>
                                </span>
                                <span class="@accountClass">@FormatBalance(account.Balance)</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    }
</div>

