@model MonthlyReportViewModel

@{
    ViewData["Title"] = "Monthly Report";

    int previousYear = Model.Year - 1;
    int nextYear = Model.Year + 1;
    var montlyResume = new AmountSumaryViewModel()
            {
                Spending = @Model.Spending,
                Income = @Model.Income,
                Total = @Model.Total
            };
}

<partial name="_Submenu" model="TransactionsSubMenu.Monthly"/>

<h4>
    Showing transactions from
    <a asp-route-year="@previousYear" class="btn btn-secondary">
        <i class="bi-chevron-left"></i>
    </a> @Model.Year
    <a asp-route-year="@nextYear" class="btn btn-secondary">
        <i class="bi-chevron-right"></i>
    </a>
</h4>

<partial name="_AmountSumary" model="@montlyResume"/>

<table class="table" style="font-size: 20px">
    <thead>
        <tr style="background-color: lightblue">
            <th>Month</th>
            <th style="text-align: right">Income</th>
            <th style="text-align: right">Spending</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var monthlyTransactions in Model.MonthlyTransactions)
        {
            <tr>
                <td>
                    <a style="text-decoration: none;" asp-action="Index"
                    asp-route-year="@Model.Year" asp-route-month="@monthlyTransactions.Month">
                        @monthlyTransactions.ReferenceDate.ToString("MMM")
                    </a>
                </td>
                <td class="activo" style="text-align: right">@monthlyTransactions.Income</td>
                <td class="pasivo" style="text-align: right">@monthlyTransactions.Spending</td>
            </tr>
        }
    </tbody>
</table>